.App {
  text-align: center;
}


.navMain {

  background-color: maroon;
  height: 50px;
  color: white;
  padding-top: 25px;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;

}


.footerMain{
  padding: 10px;
  height: 40px;
  background-color: gray;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.homepageMain{
  padding-top: 100px;
  margin-bottom: 100px;

}

.stockHomepage {
  background-color: white;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;

}

.stockMain{
  width: 150px;
  border: solid;
  border-color: gray;
  border-radius: 20px;
  margin: 10px;
  padding: 10px;

}


.stockTitle{
  color: rgb(85, 80, 80);
  text-align: left;
  padding-bottom: 10px;
}



.stockContent{
  font-weight: 500;
  padding-bottom: 10px;
}



.addStockMain{
  margin: 10px;
}